<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
	<link rel="stylesheet" type="text/css" href="../Styles/Minified-Styles/material.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/Minified-Styles/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="../Styles/master.css" media="screen,projection">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<header>
  <nav class = "nav-bar-container">
      <div class="navbar-fixed">
          <a href="homelogin.html" class="brand-logo center-align tooltipped nav-bar-logo" data-position="right" data-delay="50" data-tooltip="Nimkar Medical Practitioners">NMP
          </a>
    </div>
  </nav>
</header>
<body class="registration_success_background">

<div class="container registration_success_content mdl-card">

<p class="registration_success_title center">Invalid Server Access</p>
<p class="light center registration_success_textmargins ">The Page you wish to access is not accessible.</p>
<p class="light center registration_success_textmargins">Press the button to return the login page:</p>
<div class="container center">
	<a class="mdl-button mdl-js-button mdl-button--raised waves-effect waves-light btn-large registration_success_button" href="homelogin.html">
        login Page
    </a>
</div>
</div>
</body>
	<script type="text/javascript" src="../Scripts/Minified-Scripts/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="../Scripts/Minified-Scripts/materialize.min.js"></script>
	<script type="text/javascript" src="../Scripts/Minified-Scripts/material.min.js"></script>
</html>